html, body {
  font-family: 'Open Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  color: #27272A;
}

.navbar {
  height: 5rem;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #27272A;
}
.center-logo {
  display: inline;
  text-align: center;
}
.center-logo a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}
.navItems {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.navItem {
  display: inline-block;
  height: auto;
  padding: .75rem ;
}
.navItem a {
  text-decoration: none;
  color: #ff8f00;
}

.section {
  width: auto;
  min-height: 55vh;
  padding-top: 5rem;
}
#welcome-section {
  height: 100vh;
  text-align: center;
  background-color: #27272A;
}
#projects {
  height: 100vh;
  text-align: center;
}
#projects .header {
  padding: 2rem;
}
.project-tile {
  position: relative;
  width: 100%;
  width: 40rem;
  margin: 0 auto;
  text-align: center;
}
.project-tile img {
  width: 40rem;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
}
.overlay h1 {
  padding: 22vh;
  z-index: 5;
  position: relative;
  margin: 0 auto;
  color: #ff8f00;
}
.project-tile:hover .overlay {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.intro-headers {
  padding-top: 25vh;
}
.intro-headers h1 {
  text-align: center;
  color: white;
}
.intro-headers h1 span {
  color: #ff8f00;
}
@media only screen and (max-width: 650px) {
  .navbar {
    display: block;
    text-align: center;
    height: 6rem;
  }
  .center-logo {
    width: 100%;
    margin: 0 auto;
  }
  .navItems {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
}